.std-Container{
    display: block;
    width: 565px;
    height: fit-content;
    margin-bottom: 300px;
    margin-left: 35px;
    text-align: center;
  
}
.search-Box{
     border: 1px solid black;
     height: 65px;
     background-color: antiquewhite;
}
.table-Box{
      
      height: 65px;
      margin-top: 15px;
}
.searchInput{
    margin-top: 10px;
    height: 30px;
    width: 200px;
    border-radius: 15px;
    
}
.button{
    width: 120px;
    height: 35px;
    margin-left: 200px;
    border-radius: 10px;
    font-size: 13px;
    font-weight: bold;
    line-height: 10px;
}
.table{
    width: 565px;
    border-collapse: collapse;
    border-radius: 5px;
    height: 230px;
    border: 2px solid;
}
.table th{
    font-size: 17px;
    font-weight: bold;
    border: 1px solid;
    line-height: 23px;
    text-align: center;
    outline: none;
    background-color: rgb(168, 108, 224)
}
.table td{
    font-size: 12px;
    font-weight: bold;
    border: 1px solid;
    line-height: 10px;
    outline: none;
    text-align: center;
}
.edit,.delete{
    font-size: 10px;
    border: 1px solid;
    border-radius: 5px;
    width: 68px;
    height: 25px;

}
.addeditpopup{
    width: 350px;
    height: 320px;
    border: 1px solid;
    z-index: 1;
    border-collapse: collapse;
    background-color: rgb(134,238,194);
}
h4{
    font-size: 20px;
    margin-top: 10px;
    width: 300px;
    height: 30px;
    border: 1px solid;
    border-radius: 5px;
    margin-left: 15px;
    background-color: rgb(160, 179, 170);
}
.closeBtn{
    margin-top: 10px;
    float: right;
    font-size: 27px;
    font-weight: bold;
    margin-right: 5px;
    color: crimson;
    
}
h3{
    color: blueviolet;
}
.addeditcolor{
    background-color: rgb(137, 238, 70);
}
.deletecolor{
    background-color: crimson;
}
.popuplabel{
     margin-left: -274px;
}
.popupinput{
    margin-left: 5px;
    border-radius: 5px;
    height: 23px;
    width: 230px;
    margin-right: 100px;
}
.addstudentBtn{
    width: 150px;
    height: 35px;
    border: 2px solid;
    border-radius: 5px;
    font-size: 15px;
    line-height: 10px;
    
}

.edit:hover,
.edit:focus,
.button:hover,
.button:focus,
.addstudentBtn:hover,
.addstudentBtn:focus{
    background-color: rgb(92,195,209);
}